@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Lato";
/** Header and other non-related styling **/
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html{
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
}
body .underline{
  color:#064E3B !important;
}
:root{
  --primary-color:#6EA8FE;
}
body {
  margin: 0;
  /* background: linear-gradient(var(--primary-color) -50%, #b65e00 150%); */
  /* font-family: "Montserrat", sans-serif; */
}
ul{
 margin-top: -30px; 
}
main {
  display: flex;
  flex-flow: column;
  margin:  auto;
  width: auto;
  max-width: 100%;
}
.wrapper {
	width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
}
.wrapper .middle-one{
  margin-left:39%;
}
header {
	height: 100px;
	background: var(--primary-color);
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
.middle{
  color: white;
}
.middle-one{
  color:black;
}
.list-align{
  text-align: right;
  margin-right: 1rem !important;
}
ul{
  padding: 20px;
}
.alternate{
  width: 100%;
	position: relative;
	top: 450px;
  background:white;
  /* background-image: url(/Assets/Images/pexels-simon-migaj-747964.jpg); */
  -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
  height: auto;
  padding: 4rem;
  border-bottom: 1px solid #C7D1D3;
  color: white;
}
.read-more{
  margin-left:50% ;
}
.img{
  text-align: center;
}
.img-center{
  padding-top:10px !important;
}
.alternate-img-wrapper{
  width: 100%;
	position: relative;
  top: 450px;
  background:transparent;
  /* background-image: url(/Assets/Images/pexels-simon-migaj-747964.jpg); */
  -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
  height: auto;
  padding: 4rem;
  border-bottom: 1px solid #C7D1D3;
  color:transparent;
  object-fit: fill;
  height: 30vh !important;
}
.cover-img{
  width: 100%;
	position: relative;
	top: 450px;
  /* background:white; */
  background-image: url(/Assets/Images/pexels-simon-migaj-747964.jpg);
  -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
  height: auto;
  padding: 4rem;
  border-bottom: 1px solid #C7D1D3;
  color: white;
}

.alternate h2{
  margin: 1rem;
  text-align: center;
}

.card{
  color:black;
  text-align: left;
}
.card-body{
  box-shadow: 0px 10px 30px -12px black;
}
.bottom-space{
  margin: 3px}

.banner-area {
	width: 100%;
	height: 500px;
  position: fixed;
  text-align: center;
	/* top: 100px; */
   background-image: url(/Assets/Images/pexels-simon-migaj-747964.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.banner-area p {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.underline{
  display: inline-block;
  letter-spacing:4px;
  font-size:2rem;
  padding: 10px;
} 
.special-list{
  font-size:1.2rem ;
  padding-bottom: 1rem;
}
.line{
  margin: 2rem;
  padding:0px;
  padding-left:2rem ;
  border-left: 2px dotted black;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
  height: auto;
  /* padding: 5rem; */
  border-bottom: 1px solid #C7D1D3;
  text-align: center;
 /* padding: 3rem; */
}
.content-area h3,ul,strong{
  padding:0px;
  padding-left:2rem ;
}
.inline{
  display: inline;
  text-decoration: none;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
  font-size: 40px;
  text-align: center;
  /* text-decoration: underline; */
	margin: 0;
}
.content-area p {
	padding: 0px;
	font-family: poppins;
	line-height: 30px;
}

.navigation{
  position: fixed;
  background-color:#3DD5F3;
  width: 100vw;
  color:white;
  padding:1rem;
  /* background-color:transparent; */
  /* display:sticky; */
  
}
.list{
  margin-bottom: 1rem;
  font-size: large;
}
.list-non-bullet{
  list-style:none;
  
}
.list-items-inline{
  display: inline;
  padding: 2rem 0.5rem;
  
}
.navigation .link{
  color: white;
  text-decoration: none;
	font-size: 25px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 1px;
}
.navigation .nav-pills{
  text-align: right;
  padding-bottom:20px;
  margin-right: 20px !important;
  margin-bottom:-5px;
  margin-top:-5px !important;
  display: block;
    }
.navigation .nav-brand{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center; 
  padding:10px;
  margin:0px;
  display: inline-block;
  vertical-align: top;
}
.navigation .link-active{
  font-weight: bold;
}
.navigation .nav-logo{
  max-width: 50px; 
  border-radius: 50rem;
  text-align: center; 
  padding:0px;
  margin:0px;
  display: inline-block;
  vertical-align: top;
}
.footer{
  background-color: #064E3B;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  max-height: 600px !important;
}
.footer .link{
  color: white;
  padding: 1px;
}
.footer ul{
  padding-inline-start: 0px;
  /*UserAgent Style Padding
  Was Applide To Over Right Have to Apply 
  This Property GOT by Inspect Element*/
}

.link{
  text-decoration: none !important;
  color:white !important;
}
/** Hover-related CSS **/
#nav {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  width: 960px;
  background-color: white;
  opacity: 0.95;
  padding: 15px 30px;
  margin: 0 auto 30px;
}
#nav h1 {
  font-size: 48px;
  text-align: center;
  margin: 30px 15px 60px;
}
#nav .nav-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 45px;
}
#nav .nav-links .hover {
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#nav .nav-links .hover:before, #nav .nav-links .hover:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #e69500;
}
#nav .nav-links .hover.hover-1:before, #nav .nav-links .hover.hover-1:after {
  left: 0;
}
#nav .nav-links .hover.hover-2:before, #nav .nav-links .hover.hover-2:after {
  right: 0;
}
#nav .nav-links .hover.hover-3:before {
  left: 50%;
}
#nav .nav-links .hover.hover-3:after {
  right: 50%;
}
#nav .nav-links .hover.hover-4:before {
  left: 0;
}
#nav .nav-links .hover.hover-4:after {
  right: 0;
}
#nav .nav-links:hover {
  cursor: pointer;
}
#nav .nav-links:hover .hover:before, #nav .nav-links:hover .hover:after {
  width: 100%;
  opacity: 1;
}
#nav .nav-links:hover .hover.hover-3:before, #nav .nav-links:hover .hover.hover-3:after, #nav .nav-links:hover .hover.hover-4:before, #nav .nav-links:hover .hover.hover-4:after {
  width: 50%;
}
@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
    width: 100%;
    text-align:right; /* If you want the text to be left-aligned on small screens */
  }
}

/* -----------------------  */
.middle{
  color:white
}
a.middle
{   
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
span.middle-one
{
    position: relative;
}

span.middle-one:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#838D97;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
span.middle-one:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.card-body:hover{
  background-color: #064E3B;
  color: white;
}

.col-sm-6:hover{
 /* box-shadow: 0px 0px 30px 1px black;  */
 transform: scale(1.03);
}
.slide{
 display: block;
 margin: auto;
}
.carousel{
  max-width:600px !important ;
}
.alternate-img-wrapper{
}
#Certificates{
  text-align: center;
  height: 90vh;
}

.col-sm-6{
  transition: transform .2s;
}

.wrapper div.collapse[aria-expanded="false"] {
  overflow: hidden;
}
#ShowMore{
  margin-left:47% ;
}
/* ******************** */

.highlight {
  position: relative;
  width: 200px;
  height: 60px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 2px;
  line-height: 60px;
  color: white !important;
  text-decoration:none !important;
  padding: 7px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.highlight:before, .highlight:after {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  visibility: hidden;
  border-radius: 2px;
}
.highlight:before {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  -webkit-transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  top: 0;
  left: 0;
}
.highlight:after {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  bottom: 0;
  right: 0;
  -webkit-transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}
.highlight:hover {
  -webkit-animation: pulse 1s ease-out 0.4s;
          animation: pulse 1s ease-out 0.4s;
  color: transparent;
}
.highlight:hover:before, .highlight:hover:after {
  width: 100%;
  height: 100%;
  visibility: visible;
}
.highlight:hover:before {
  -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
  transition: width 0.1s ease, height 0.1s ease 0.1s;
}
.highlight:hover:after {
  -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}
/* ****************************************** */

/* ****************************************** */


footer{
  padding: 1rem;
}
.form-floating{
  display:block;
  margin: auto;
  max-width: 50%;
}
.btn{
width: 100px;
background-color: transparent !important;
color:#064E3B !important;
border: 1px solid #064E3B !important;
}
.btn:hover{
  width: 100px;
  background-color: #064E3B !important;
  color:white !important;
  border: 1px solid #064E3B !important;
  }

  /* .gform{
     max-height: ;
  } */
/* 
<footer>
      <h2>Contact Us</h2>
      <br>
      <div class="form-floating">
        <label for="floatingInput" class="floatingInput">Email address</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        
      </div>
      <div class="form-floating">
        <label for="floatingPassword" class="floatingInput">Password</label>
        <textarea type="text" class="form-control textarea" id="floatingPassword" placeholder="Password"></textarea>
        
      </div>
    </footer>
     */